---
  permalink: css/style.css
---

.bg-container {
  position: relative;
  max-width: <%= responsive.MAX_WIDTH %>px;
  margin: 0 auto;
}


html {
  scroll-behavior: smooth;
}

body {
  color : <%= colors['On Background'].color %>;
  background-color: <%= colors['Background'].color %>;
  margin : 0;
  padding : 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a img {
  border: 0;
}

.primary-500 {
  color: <%= colors["Primary"]["500"].color %>;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.list-reset {
  padding-left: 0;
  margin: 0;
}

.time{
  color: <%= colors["Primary"]["500"].color %>;
}

.strong{
  font-weight: 700;
}

.timeline li {
  position: relative;
  padding-left: 80px;
}

.timeline li::after{
  content: "";
  width: 33px;
  height: 33px;
  border: 3px solid <%= colors["Primary"]["500"].color %>;
  position: absolute;
  border-radius: 50%;
  left: 22px;
  top: 20px;  
}

.timeline li::before{
  content: "";
  width: 3px;
  height: calc(100% - 39px);
  background: <%= colors["Primary"]["500"].color %>;
  position: absolute;
  left: 40px;
  top: 59px;
}

.timeline-exception{
  margin-left: 45px;
}

.timeline-item-exception::before{
  display: none;
}

.story-arrows{
  margin-left: 246px;
}

@media (min-width: <%= responsive.MEDIA.tablet %>px) {
  .text-center-lp {
    text-align: center;
  }
}

.ml-auto {
  margin-left: auto;
}

.hero {
  background-image: url("../img/backgrounds/_home-bkg.png");
  background-position: center right 65%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nowrap{
  flex-wrap: nowrap;
}

@media (max-width: <%= responsive.MEDIA.laptop - 1 %>px) {
  .story-arrows{
    margin-left: 125px;
  }
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .hero {
    background-image: url(../img/backgrounds/_home-2-bkg.png);
    background-size: cover;
    background-position: top -80px center;
    background-repeat: no-repeat;
  }

  .story-arrows{
    margin: 0;
    margin-left: auto;
    padding-right: <%= responsive.GAP %>px;
  }

  .timeline-exception{
    margin-left: 22px;
    margin-top: -2px;
  }

  .timeline-exception{
    margin-left: 0;
  }
}

.our-story {
  background-image: url("../img/backgrounds/_about-bkg.png");
  background-position: top 0 left 0;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .our-story {
    background-size: cover;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .our-story {
    background-size: cover;
    background-position: top 0 left 15%;
  }
}

.our-domain {
  background-image: url("../img/backgrounds/circles.png");
  background-position: top 24% right 0;
  background-size: auto 80%;
  background-repeat: no-repeat;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .our-domain {
    background-size: auto 70%;
    background-position: bottom 18% right 0;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .our-domain {
    background-size: auto 350px;
    background-position: bottom 18% right 0;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .arrow-link-small img{
    margin-top: 0;
    width: 70px;
  }

  .timeline li::after{
    top: 5px;
  }

  .timeline li::before{
    height: calc(100% - 36px);
    top: 43px;
  }

  .arrow-link img{
    width: 70px;
  }

  .arrow-link-type2 img {
    margin-top: 15px;
    width: 80px;
  }
}

.card-3 {
  border: <%= Number(cards.CARD_3.BORDER) %>px solid <%= colors["Primary"]["500"].color %>;
  padding: <%= Number(cards.CARD_3.GAP.default.y) - Number(cards.CARD_3.BORDER) %>px <%= Number(cards.CARD_3.GAP.default.x) - Number(cards.CARD_3.BORDER) %>px;
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .card-3 {
    padding: <%= Number(cards.CARD_3.GAP.phone.y) - Number(cards.CARD_3.BORDER) %>px <%= Number(cards.CARD_3.GAP.phone.x) - Number(cards.CARD_3.BORDER) %>px;
  }
}

@media (min-width: <%= responsive.MEDIA.phone %>px) and (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .card-3 {
    padding: <%= Number(cards.CARD_3.GAP.tablet.y) - Number(cards.CARD_3.BORDER) %>px <%= Number(cards.CARD_3.GAP.tablet.x) - Number(cards.CARD_3.BORDER) %>px;
  }
}

@media (min-width: <%= responsive.MEDIA.tablet %>px) and (max-width: <%= responsive.MEDIA.laptop - 1 %>px) {
  .card-3 {
    padding: <%= Number(cards.CARD_3.GAP.laptop.y) - Number(cards.CARD_3.BORDER) %>px <%= Number(cards.CARD_3.GAP.laptop.x) - Number(cards.CARD_3.BORDER) %>px;
  }
}

@media (min-width: <%= responsive.MEDIA.laptop %>px) and (max-width: <%= responsive.MEDIA.desktop - 1 %>px) {
  .card-3 {
    padding: <%= Number(cards.CARD_3.GAP.desktop.y) - Number(cards.CARD_3.BORDER) %>px <%= Number(cards.CARD_3.GAP.desktop.x) - Number(cards.CARD_3.BORDER) %>px;
  }
}

@media (min-width: <%= responsive.MEDIA.desktop %>px) {
  .card-3 {
    padding: <%= Number(cards.CARD_3.GAP.default.y) - Number(cards.CARD_3.BORDER) %>px <%= Number(cards.CARD_3.GAP.default.x) - Number(cards.CARD_3.BORDER) %>px;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .card-3 .spacer-48 {
    padding-top: 0;
  }

  .card-3 .big-title {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1.2;
  }
}


.d-inline-block{
  display: inline-block;
}

.text-left{
  text-align: left;
}

.our-technology {
  background-image: url("../img/backgrounds/technology_bkg_for desktop.png");
  background-position: top 0 center;
  background-size: cover;
  background-repeat: no-repeat;
}

.our-posts {
  background-image: url("../img/backgrounds/blog_photo.png");
  background-position: top 30% right 39vw;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .our-posts {
    background-size: auto 100%;
    background-position: top 0 right 30vw;
  }
}

.jobs {
  background-image: url("../img/backgrounds/shaoe_01.png");
  background-position: center right -250px;
  background-size: auto 80%;
  background-repeat: no-repeat;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .jobs {
    background-position: center left 10vw;
  }
}

.contacts {
  background-image: url("../img/backgrounds/shape02_end-of-page.png");
  background-position: left -7% bottom;
  background-size: auto 82%;
  background-repeat: no-repeat;
}

.contact-form {
  padding-right: 155px;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .contact-form {
    padding-right: 0;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .contact-form {
    padding-right: 11.5%;
  }
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .contacts {
    background-position: left -43vw bottom -26vw;
  }
}


.card-1 p,
.card-1 h3 {
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .card-1 .spacer-36,
  .card-1 .spacer-6 {
    padding: 0;
  }

  .card-1 .spacer-80 {
    padding-top: 12px;
  }

  .card-1 p,
  .card-1 h3 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.story .container {
  padding-top: 0;
}

.story .header .container {
  padding-top: 12px;
}

.story__content-spacer-1 {
  padding-top: 60px;
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .story__content-spacer-1 {
    padding-top: 20px;
  }
}

.story__content-spacer-2 {
  padding-top: 110px;
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .story__content-spacer-2 {
    padding-top: 48px;
  }
}

.story__content-spacer {
  padding-top: 36px;
}

.story__list-spacer {
  padding-top: 40px;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .story__list-spacer {
    padding-top: 70px;
  }
}


@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .story__list-spacer {
    padding-top: 40px;
  }
}


.story__spacer-bottom {
  padding-top: 120px;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .story__spacer-bottom {
    padding-top: 200px;
  }
}

.story__spacer-top {
  padding-top: 120px;
}

@media(max-width: <%= menu.breakpoint - 1 %>px) {
  .story__spacer-top {
    padding-top: 630px;
  }
}


@media(max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .story__spacer-top {
    padding-top: 430px;
  }
}

.story__bg {
  width: 100%;
  padding-bottom: 500px;
  background-image: url(../img/story-banner.png);
  background-size: cover;
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}

@media(max-width: <%= menu.breakpoint - 1 %>px) {
  .story__bg {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    padding-bottom: 435px;
    background-size: auto 100%;
  }

  .story__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media(max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .story__bg {
    padding-bottom: 140px;
    background-size: cover;
  }

  .story__spacer-top {
    padding-top: 200px;
  }
}

.our-philosophy {
  background-image: url("../img/our-philosophy_graphic-typo.png");
  background-repeat: no-repeat;
  background-position: top 87% left 19%;
}

@media(max-width: <%= menu.breakpoint - 1 %>px) {
  .our-philosophy {
    background-position: top 80% left 11%;
  }
}

@media(max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .our-philosophy {
    background-size: 15% auto;  
    background-position: top 9% left 8%;
  }
}

.story {
  background-image: url("../img/backgrounds/shape02_end-of-page.png");
  background-position: bottom -28vw left -52vw;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@media(max-width: <%= menu.breakpoint - 1 %>px) {
  .story {
    background-position: bottom -28vw left -15vw;
  }
}


p.h2 {
  font-size: 33px;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

@media(max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .responsive-blocks-container.nowrap {
    flex-wrap: wrap;
  }
}